.theme-button:hover {
    background-color: #cd1431;
    color: #ffffff;
}

.bg-header {
   
    background-color:  #024da1;
   
}


.bottom-panel {
   
    background-color:  #cd1431;
   
}

.available-car .acr-box .acr-box-in .acr-content .ct-cost .cprice {
   
    color:  #cd1431;
    
}

.page-car-list .car-card .cc-right .ccr-row-e span {
    color: #cd1431;
  
}