Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d



#Start your rules below##
DirectoryIndex index.html home.php login.php

#RewriteRule ^home/?$ home.php [NC,L]


RewriteRule ^home/?$ home.php [NC,L]
RewriteRule ^profile/?$ profile.php [NC,L]

#RewriteRule ^history/?$ history.php [NC,L]
RewriteRule ^bookings/?$ history.php [NC,L]
RewriteRule ^payments/?$ payments.php [NC,L]
RewriteRule ^notifications/?$ notifications.php [NC,L]
RewriteRule ^about/?$ about.php [NC,L]
#RewriteRule ^locations/?$ locations.php [NC,L]
RewriteRule ^contact/?$ contact.php [NC,L]
RewriteRule ^promotions/?$ promotion.php [NC,L]
RewriteRule ^blog/?$ news.php [NC,L]
RewriteRule ^blog-info/([^/]*)$ news_info.php?slug=$1 [NC,L]
RewriteRule ^services/([^/]*)$ services.php?slug=$1 [NC,L]
RewriteRule ^rental-guide/([^/]*)$ rental_guide.php?slug=$1 [NC,L]





RewriteRule ^settings/?$ settings.php [NC,L]





RewriteRule ^book-rent-cars/?$ book_rent_cars.php [NC,L]



RewriteRule ^book-rent-cars/([^/]*)$ book_rent_cars.php?slug=$1 [NC,L]





RewriteRule ^book-pay-as-you-drive/?$ book_pay-as-you-drive.php [NC,L]



RewriteRule ^book-pay-as-you-drive/([^/]*)$ book_pay-as-you-drive.php?slug=$1 [NC,L]





#RewriteRule ^booking-confirmation/?$ booking_confirm.php [NC,L]



RewriteRule ^booking-confirmation/([^/]*)$ booking_confirm.php?booking_number=$1 [NC,L]





RewriteRule ^rent-booking-view/([^/]*)$ booking_view.php?booking_number=$1 [NC,L]



RewriteRule ^payd-booking-view/([^/]*)$ booking_view_pay_as_you_drive.php?booking_number=$1 [NC,L]





RewriteRule ^booking-confirm/([^/]*)$ booking_confirm_pay_as_you_drive.php?booking_number=$1 [NC,L]









RewriteRule ^book-lease-cars/?$ book_leasecars.php [NC,L]





RewriteRule ^book-pay-as-you-go/?$ book_payasyougo.php [NC,L]





RewriteRule ^booking-payment/?$ booking_payment.php [NC,L]





RewriteRule ^booking-view/?$ booking_view.php [NC,L]





RewriteRule ^checkout/?$ checkout.php [NC,L]



RewriteRule ^pay-as-you-drive-checkout/?$ checkout-payd.php [NC,L]





RewriteRule ^history/?$ history.php [NC,L]





RewriteRule ^modify-booking/?$ modify_booking.php [NC,L]





RewriteRule ^notifications/?$ notifications.php [NC,L]





RewriteRule ^page-book-addons/?$ page_book_addons.php [NC,L]









RewriteRule ^rent-a-car/?$ page_search_results_rentcars.php [NC,L]









RewriteRule ^rent-cars/?$ page_list_rentcars.php [NC,L]



RewriteRule ^rent-cars/([^/]*)$ page_list_rentcars.php?slug=$1 [NC,L]







RewriteRule ^lease-cars/?$ page_list_leasecars.php [NC,L]



RewriteRule ^lease-a-car/?$ page_search_results_leasecars.php [NC,L]









RewriteRule ^pay-you-drive/?$ page_list_payasyoudrive.php [NC,L]



RewriteRule ^pay-as-you-drive/?$ page_search_results_drivecars.php [NC,L]





RewriteRule ^pay-as-you-go/?$ page_search_results_payasyougo.php [NC,L]





RewriteRule ^pay-per-hour/?$ page_search_results_payperhour.php [NC,L]





RewriteRule ^used-cars/?$ page_search_results_usedcars.php [NC,L]





RewriteRule ^used-cars-info/([^/]*)/([^/]*)$ car_details.php?slug=$1&slug1=$2 [NC,L]





RewriteRule ^addon-lease-cars/?$ addons_leasecars.php [NC,L]





RewriteRule ^enquiry-used-cars/?$ enquiry_usedcars.php [NC,L]





RewriteRule ^road-side-assistance/?$ report_breakdown.php [NC,L]





RewriteRule ^feedbacks/?$ complaints_feedbacks.php [NC,L]





RewriteRule ^corporate-leasing/?$ corporate_leasing.php [NC,L]





RewriteRule ^corporate-customized-solutions/?$ corporate_customized_solutions.php [NC,L]





RewriteRule ^faqs/?$ faqs.php [NC,L]





RewriteRule ^enquiry-used-cars/?$ enquiry_usedcars.php [NC,L]





RewriteRule ^login/?$ login.php [NC,L]

RewriteRule ^sign-up/?$ signup.php [NC,L]



RewriteRule ^logout/?$ logout.php [NC,L]





#RewriteRule ^booking-view/?$ booking_view.php [NC,L]





RewriteRule ^cancel-booking/?$ cancel_booking.php [NC,L]
RewriteRule ^modify-booking/?$ modify_booking.php [NC,L]
RewriteRule ^coming-soon/?$ coming_soon.php [NC,L]
RewriteRule ^profile/?$ profile.php [NC,L]
RewriteRule ^terms-conditions/?$ terms_conditions.php [NC,L]
#RewriteRule ^blog-info/?$ blog_info.php [NC,L]

RewriteRule ^rent-cars-enquiry/([^/]*)$ rent_cars_enquiry.php?slug=$1 [NC,L]

RewriteRule ^pay-as-you-drive-enquiry/([^/]*)$ pay_as_you_drive-enquiry.php?slug=$1 [NC,L]

RewriteRule ^rent-cars-mob/([^/]*)$ page_list_rentcars_mob.php?slug=$1 [NC,L]
# php -- BEGIN cPanel-generated handler, do not edit
# This domain inherits the “PHP” package.
# php -- END cPanel-generated handler, do not edit
